<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- The application ID from your app registration -->
    <add key="appId" value="fe1a5ca0-b3d9-484d-a899-45694ad4e0c2" />
    <!-- The tenant ID copied from your app registration -->
    <add key="tenantId" value="c832d4db-a148-45df-a716-f5d82985ba27"/>
    <!-- The application's client secret from your app registration. Needed for application permission access -->
    <add key="clientSecret" value="LStur_D_h-gx1O-T9tw6u99q5GqG7_n-T4"/>
  </appSettings> 
</configuration>