<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- The application ID from your app registration -->
    <add key="appId" value="" />
    <!-- The tenant ID copied from your app registration -->
    <add key="tenantId" value=""/>
    <!-- The application's client secret from your app registration. Needed for application permission access, get from https://portal.azure.cn -->
    <add key="clientSecret" value=""/>
  </appSettings> 
</configuration>